@model Spock_Bug_Tracker.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h1 class="page-header">Ticket Dashboard <small>For Ticket "@Html.DisplayFor(modelItem => Model.Title)"</small></h1>
<!--Begin Details Panel-->
<div class="row">
    <div class="panel panel-inverse WideButton">
        <div class="panel-heading">
            <h4 class="panel-title">Ticket Details</h4>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayName("Project")
                        </th>
                        <th>
                            @Html.DisplayName("Priority")
                        </th>
                        <th>
                            @Html.DisplayName("Status")
                        </th>
                        <th>
                            @Html.DisplayName("Type")
                        </th>
                        <th>
                            @Html.DisplayName("Assigned Developer")
                        </th>
                        <th>
                            @Html.DisplayName("Created By")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Project.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.TicketPriority.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.TicketStatus.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.TicketType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.AssignedToUser.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.OwnerUser.FullName)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--End Details Panel-->
