@using Spock_Bug_Tracker.Helper
@using Microsoft.AspNet.Identity

@model Spock_Bug_Tracker.Models.Ticket


@{
    ViewBag.Title = "Details";
}

<style>
    .height-sm {
        height: 300px;
    }
</style>

<h1 class="page-header">Ticket Dashboard <small>For Ticket "@Html.DisplayFor(modelItem => Model.Title)"</small></h1>
<!--Begin Details Panel-->
<div class="row">
    <div class="panel panel-inverse WideButton">
        <div class="panel-heading">
            <h4 class="panel-title">Ticket Details</h4>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayName("Project")
                        </th>
                        <th>
                            @Html.DisplayName("Priority")
                        </th>
                        <th>
                            @Html.DisplayName("Status")
                        </th>
                        <th>
                            @Html.DisplayName("Type")
                        </th>
                        <th>
                            @Html.DisplayName("Assigned Developer")
                        </th>
                        <th>
                            @Html.DisplayName("Created By")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Project.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.TicketPriority.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.TicketStatus.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.TicketType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.AssignedToUser.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.OwnerUser.FullName)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--End Details Panel-->
<div class="row">
    <div class="col-lg-4">

        <div data-collapsed="0" class="panel">

            <div class="panel-heading">
                <div class="panel-title">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>
                    <h2 class="panel-title">Ticket Comments (@Model.TicketComments.Count())</h2>
                </div>
            </div>
            <div class="panel-body">
                <div class="height-sm" data-scrollbar="true">
                    <ul class="media-list media-list-with-divider">
                        @foreach (var comment in Model.TicketComments.OrderByDescending(m => m.Created))
                        {
                            <li class="media media-sm">
                                <a class="pull-left">
                                    <img src="@comment.Author.AvatarUrl" class="media-object rounded-corner" />
                                </a>
                                <div class="media-body m-l-10 pull-right">
                                    <div class="row">
                                        <h5 class="media-heading">@comment.Author.FullName</h5>
                                        <span><i>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;@comment.Created.DateTime</i></span>
                                    </div>

                                    <p>@comment.CommentBody</p>
                                </div>
                            </li>
                        }
                    </ul>
                </div>

            </div>
            <div class="panel-footer">
                @using (Html.BeginForm("Create", "TicketComments", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("TicketId", Model.Id)

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="CommentBody" placeholder="Enter message" />
                        <span class="input-group-append">
                            <button class="btn btn-success" type="submit"><i class="fa fa-pencil"></i></button>
                        </span>
                    </div>
                }



            </div>
        </div>

        <div data-collapsed="0" class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>
                    <h2 class="panel-title">Ticket Attachment(s)</h2>
                </div>
            </div>
            <div class="panel-body">
                @foreach (var attachment in Model.TicketAttachments)
                {
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    @if (attachment.AttachmentUrl != null)
                                    {
                                        <a href="@Url.Content(attachment.AttachmentUrl)"> <img src="@ImageUploader.GetIconPath(attachment.AttachmentUrl)" />  </a>
                                    }
                                    else
                                    {
                                        <a href="#"> <img src="@ImageUploader.GetIconPath(attachment.AttachmentUrl)" />  </a>

                                    }

                                </div>
                            </div>

                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">@attachment.Created.ToString("MMM d, yyyy")</div>
                                <div class="col-md-6">@attachment.User.FullName</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    @attachment.Title
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    @attachment.Description
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>

        <div data-collapsed="0" class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>
                    <h2 class="panel-title">Add Attachment</h2>
                </div>
            </div>
            <div class="panel-body">
                <!--Top row will be for the entire display-->
                <div class="row">
                    <div class="col-md-12">

                        @using (Html.BeginForm("Create", "TicketAttachments", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("TicketId", Model.Id)
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.TextArea("AttachmentTitle", null, new { @class = "form-control cell-fill-input", placeholder = "Title" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.TextArea("AttachmentDescription", new { @class = "form-control cell-fill-textarea", rows = 5, cols = 150, placeholder = "Description" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="file" name="attachment" />
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-sm">Add Attachment</button>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="col-xl-6 col-lg-12">
            <section class="panel">
                <header class="panel-heading panel-heading-transparent">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Ticket History</h2>
                </header>
                <div class="panel-body">
                    <div class="timeline timeline-simple mt-xlg mb-md">
                        <div class="tm-body">                           
                            <ol class="tm-items">
                                @foreach (var history in Model.TicketHistories.OrderByDescending(h => h.Created))
                                {                                    
                                    <li>
                                        <div class="tm-box">
                                            <p class="text-muted mb-none">(@history.Created).format('MM dd yyyy')</p>
                                            <p>
                                                It's awesome when we find a good solution for our projects, JSOFT Admin is <span class="text-primary">#awesome</span>
                                            </p>
                                        </div>
                                    </li>                                   
                                }
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>