@using Spock_Bug_Tracker.Models
@using Microsoft.AspNet.Identity
@using Spock_Bug_Tracker.Helper


<!doctype html>
<html class="fixed">
<head>
    @{
        var userId = User.Identity.GetUserId();
        var db = new ApplicationDbContext();
        var user = db.Users.Find(userId);
    }

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Dashboard | JSOFT Themes | JSOFT-Admin</title>
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="JSOFT Admin - Responsive HTML5 Template">
    <meta name="author" content="JSOFT.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="~/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/assets/vendor/morris/morris.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme-custom.css">



    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <!-- Head Libs -->
    <script src="~/assets/vendor/modernizr/modernizr.js"></script>

    <style>
        body {
            background: linear-gradient(to right, #000046, #1cb5eo);
        }
    </style>


</head>
<body>
    <section class="body">

        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a href="../" class="logo">
                    <img src="~/assets/images/logo.png" height="35" alt="JSOFT Admin" />
                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <!-- start: search & user box -->
            <div class="header-right">

                <form action="pages-search-results.html" class="search nav-form">
                    <div class="input-group input-search">
                        <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>

                <span class="separator"></span>

                <ul class="notifications">

                    <li>
                        <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                            <i class="fa fa-bell"></i>
                            <span class="badge">@NotificationHelper.GetNewUserNotificationCount()</span>
                        </a>

                        <div class="dropdown-menu notification-menu">
                            <div class="notification-title">
                                <span class="pull-right label label-default">@NotificationHelper.GetAllUserNotificationCount()</span>
                                Notifications
                            </div>

                            <div class="content">
                                <ul>
                                    @foreach (var notification in NotificationHelper.GetUnreadUserNotifications())
                                    {
                                    <li>
                                        @using (Html.BeginForm("MarkAsRead", "TicketNotifications"))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.Hidden("Id", notification.Id)

                                            <div class="row">
                                                <div class="col-md-2">
                                                    <figure class="image">
                                                        <img src="@notification.Sender.AvatarUrl" alt="@notification.Sender.Email" class="img-circle" width="25"/>
                                                    </figure>
                                                </div>
                                                <div class="col-md-10">
                                                    <span class="title">@notification.Subject</span>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <span class="message text-justify"><b>@notification.NotificationBody</b></span>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button type="submit" class="btn btn-sm btn-primary">Mark as read</button>
                                                </div>
                                            </div>
                                        }
                                        </li>
                                    }
                                    </ul>

                                <hr />

                                <div class="text-right">
                                    <a href="@Url.Action("MyNotifications", "TicketNotifications")" class="view-more">View All</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <span class="separator"></span>
                @if (User.Identity.IsAuthenticated)
                {

                    var AvatarUrl = db.Users.Find(userId).AvatarUrl;
                    var fullName = db.Users.Find(userId).FullName;
                    var roleHelper = new UserRolesHelper();

                    <div id="userbox" class="userbox">
                        <a href="#" data-toggle="dropdown">
                            <figure class="profile-picture">
                                <img src="@AvatarUrl" alt="" class="img-circle" />
                            </figure>
                            <div class="profile-info">
                                <span class="name">@fullName</span>
                                <span class="role">
                                    @if (roleHelper.ListUserRoles(userId).FirstOrDefault() == "Project Manager")
                                    {
                                        <span>Project Manager</span>
                                    }
                                    else
                                    {
                                        @roleHelper.ListUserRoles(userId).FirstOrDefault();
                                    }
                                </span>
                            </div>

                            <i class="fa custom-caret"></i>
                        </a>

                        <div class="dropdown-menu">
                            <ul class="list-unstyled">
                                <li class="divider"></li>
                                <li>
                                    <a role="menuitem" tabindex="-1" href="@Url.Action("Index", "Manage")"><i class="fa fa-user"></i> My Profile</a>
                                </li>                                
                                <li>
                                    <a role="menuitem" tabindex="-1" href="@Url.Action("Login", "Home")"><i class="fa fa-power-off"></i> Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>

            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-title">
                        Navigation
                    </div>
                    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <ul class="nav nav-main">
                                <li class="nav-active">
                                    <a href="@Url.Action("DashBoard", "Home")">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li class="nav-active">
                                        <a href="@Url.Action("UserIndex", "Admin")">
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            <span>User Index</span>
                                        </a>
                                    </li>

                                    <li class="nav-active">
                                        <a href="@Url.Action("Index", "Projects")">
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            <span>Projects Index</span>
                                        </a>
                                    </li>
                                }

                                @if ((User.IsInRole("Submitter")) || (User.IsInRole("Developer")) || (User.IsInRole("Project Manager")))
                                {
                                    <li class="nav-active">
                                        <a href="@Url.Action("MyIndex", "Projects")">
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            <span>My Projects</span>
                                        </a>
                                    </li>
                                    <li class="nav-active">
                                        <a href="@Url.Action("Index", "Tickets")">
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            <span>My Tickets</span>
                                        </a>
                                    </li>
                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    <li class="nav-active">
                                        <a href="@Url.Action("Index", "Tickets")">
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            <span>Tickets Index</span>
                                        </a>
                                    </li>
                                }
                                @if (User.IsInRole("Submitter"))
                                {
                                    <li class="nav-active">
                                        <a href="@Url.Action("Create", "Tickets")">
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            <span>Create Ticket</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </aside>
            <!-- end: sidebar -->
            <section role="main" class="content-body">
                @RenderBody()
            </section>


        </div>
        <aside id="sidebar-right" class="sidebar-right">
            <div class="nano">
                <div class="nano-content">
                    <a href="#" class="mobile-close visible-xs">
                        Collapse <i class="fa fa-chevron-right"></i>
                    </a>

                    <div class="sidebar-right-wrapper">

                        <div class="sidebar-widget widget-calendar">
                            <h6>Upcoming Tasks</h6>
                            <div data-plugin-datepicker data-plugin-skin="dark"></div>

                            <ul>
                                <li>
                                    <time datetime="2014-04-19T00:00+00:00">04/19/2014</time>
                                    <span>Company Meeting</span>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-widget widget-friends">
                            <h6>Friends</h6>
                            <ul>
                                <li class="status-online">
                                    <figure class="profile-picture">
                                        <img src="~/assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-online">
                                    <figure class="profile-picture">
                                        <img src="~/assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-offline">
                                    <figure class="profile-picture">
                                        <img src="~/assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-offline">
                                    <figure class="profile-picture">
                                        <img src="~/assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </aside>

    </section>

    <!-- Vendor -->
    <script src="~/assets/vendor/jquery/jquery.js"></script>
    <script src="~/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="~/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->
    <script src="~/assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="~/assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="~/assets/vendor/jquery-appear/jquery.appear.js"></script>
    <script src="~/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="~/assets/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
    <script src="~/assets/vendor/flot/jquery.flot.js"></script>
    <script src="~/assets/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
    <script src="~/assets/vendor/flot/jquery.flot.pie.js"></script>
    <script src="~/assets/vendor/flot/jquery.flot.categories.js"></script>
    <script src="~/assets/vendor/flot/jquery.flot.resize.js"></script>
    <script src="~/assets/vendor/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="~/assets/vendor/raphael/raphael.js"></script>
    <script src="~/assets/vendor/morris/morris.js"></script>
    <script src="~/assets/vendor/gauge/gauge.js"></script>
    <script src="~/assets/vendor/snap-svg/snap.svg.js"></script>
    <script src="~/assets/vendor/liquid-meter/liquid.meter.js"></script>
    <script src="~/assets/vendor/jqvmap/jquery.vmap.js"></script>
    <script src="~/assets/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
    <script src="~/assets/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="~/assets/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
    <script src="~/assets/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
    <script src="~/assets/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
    <script src="~/assets/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
    <script src="~/assets/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
    <script src="~/assets/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/assets/javascripts/theme.init.js"></script>


    <!-- Examples -->
    <script src="~/assets/javascripts/dashboard/examples.dashboard.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script>
        $(".table").DataTable();
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>