@using Spock_Bug_Tracker.Models
@using Microsoft.AspNet.Identity
@using Spock_Bug_Tracker.Helper

@{
    var userId = User.Identity.GetUserId();
    var db = new ApplicationDbContext();
    var user = db.Users.Find(userId);
    var notificationHelper = new NotificationHelper();
    var ticketHelper = new TicketHelper();
}
<header class="page-header">
    <h2>Dashboard</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Dashboard</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>
<!--Bar Chart-->
<div class="row">
    <div class="col-md-6">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">Ticket Status</h2>
                <p class="panel-subtitle">This chart represents all tickets by status.</p>
            </header>
            <div class="panel-body">
                <div class="chart chart-md" id="RealMorrisBarChart"></div>
            </div>
        </section>
    </div>
    <!--Pie Chart-->
    <div class="col-md-6">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">Ticket Type</h2>
                <p class="panel-subtitle">This pie chart represents all ticket types.</p>
            </header>
            <div class="panel-body">
                <div class="chart chart-md" id="Fusion3dPieChart"></div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-lg-12 col-xl-6">
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-6">
                <section class="panel panel-featured-left panel-featured-primary">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-primary">
                                    <i class="fa fa-ticket"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    @if (User.IsInRole("Admin"))
                                    { 
                                        <h4>TOTAL TICKETS</h4>
                                     }
                                     else
                                     {
                                        <h4>MY TICKETS</h4>
                                     }
                                    

                                    
                                        <div class="info">
                                            <strong class="amount">@ticketHelper.CountMyTickets(userId)</strong>
                                        </div>
                                   
                                    </div>
                                <div class="summary-footer">
                                    <a href="@Url.Action("Index", "Tickets")">(View All)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6">
                <section class="panel panel-featured-left panel-featured-secondary">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-primary">
                                    <i class="fa fa-group"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <h4>TOTAL IMMEDIATE TICKETS</h4>
                                    }
                                    else
                                    {
                                        <h4>MY IMMEDIATE TICKETS</h4>
                                    }
                                    <div class="info">
                                        <strong class="amount">@ticketHelper.CountMyImmediateTickets(userId)</strong>
                                    </div>
                                </div>
                                <div class="summary-footer">
                                    <a href="@Url.Action("Index", "Tickets")">(View All)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>
</div>
<!-- start: page -->
<div class="row">
    <div class="col-xl-3 col-lg-12">
        <section class="panel panel-transparent">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">My Profile</h2>
            </header>

            <div class="panel-body">
                <section class="panel panel-group">
                    @if (User.Identity.IsAuthenticated)
                    {

                        var AvatarUrl = db.Users.Find(userId).AvatarUrl;
                        var fullName = db.Users.Find(userId).FullName;
                        var roleHelper = new UserRolesHelper();
                        <header class="panel-heading bg-primary">
                            <div class="widget-profile-info">
                                <div class="profile-picture">
                                    <img src="@AvatarUrl">
                                </div>
                                <div class="profile-info">
                                    <h4 class="name text-semibold">@fullName</h4>
                                    <h5 class="role">
                                        @if (roleHelper.ListUserRoles(userId).FirstOrDefault() == "Project Manager")
                                        {
                                            <span>Project Manager</span>
                                        }
                                        else
                                        {
                                            @roleHelper.ListUserRoles(userId).FirstOrDefault();
                                        }
                                    </h5>
                                    <div class="profile-footer">
                                        <a href="@Url.Action("Index", "Manage")">(edit profile)</a>
                                    </div>
                                </div>
                            </div>
                        </header>
                    }
                    <div id="accordion">
                        <div class="panel panel-accordion panel-accordion-first">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1One">
                                        <i class="fa fa-check"></i> Tasks
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1One" class="accordion-body collapse in">
                                <div class="panel-body">
                                    <ul class="widget-todo-list">

                                        <li>
                                            <div class="checkbox-custom checkbox-default">
                                                <input type="checkbox" id="todoListItem6" class="todo-check">
                                                <label class="todo-label" for="todoListItem6"><span>Test task 1</span></label>
                                            </div>
                                            <div class="todo-actions">
                                                <a class="todo-remove" href="#">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-custom checkbox-default">
                                                <input type="checkbox" id="todoListItem6" class="todo-check">
                                                <label class="todo-label" for="todoListItem6"><span>Test task 2</span></label>
                                            </div>
                                            <div class="todo-actions">
                                                <a class="todo-remove" href="#">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-custom checkbox-default">
                                                <input type="checkbox" id="todoListItem6" class="todo-check">
                                                <label class="todo-label" for="todoListItem6"><span>Test task 3</span></label>
                                            </div>
                                            <div class="todo-actions">
                                                <a class="todo-remove" href="#">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                    <hr class="solid mt-sm mb-lg">
                                    <form method="get" class="form-horizontal form-bordered">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="input-group mb-md">
                                                    <input type="text" class="form-control">
                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn btn-primary" tabindex="-1">Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
</div>
@section scripts{

    <script>
     $(function () {
        $.post('@Url.Action("GetRealMorrisData","Charts")').then(function (response) {
            new Morris.Bar({
                 element: 'RealMorrisBarChart',
                data: response,
                gridTextSize: 10,
                xLabelAngle: 65,
                xkey: 'label',
                ykeys: ['value'],
                labels: ['Ticket Count'],
                resize: true
            });
        });
     });

    </script>
    <script>

        $(function () {
            var url = '@Url.Action("GetRealFusionByType","Charts")';

            $.post(url).then(function (response) {
                var revenueChart = new FusionCharts({
                    type: "pie3d",
                    renderAt: "Fusion3dPieChart",
                    width: "%100",
                    height: "%100",
                    dataFormat: "json",
                    dataSource: {
                        "chart": {
                            caption: "",
                            subCaption: "",
                            xAxisName: "Type",
                            yAxisName: "Count",
                            numberSuffix: "",
                            theme: "fusion"
                        },
                        "data": response
                    }
                }).render();
            });
        });
    </script>
}