@using Microsoft.AspNet.Identity
@using Spock_Bug_Tracker.Helper
@using Spock_Bug_Tracker.Models
@model Spock_Bug_Tracker.ViewModels.UserViewModel

        @{
            var userId = User.Identity.GetUserId();
            var db = new ApplicationDbContext();
            var user = db.Users.Find(userId);
        }





<div class="row">
    <div class="col-md-4 col-lg-3">
        @if (User.Identity.IsAuthenticated)
        {

            var AvatarUrl = db.Users.Find(userId).AvatarUrl;
            var fullName = db.Users.Find(userId).FullName;
            var roleHelper = new UserRolesHelper();
            <section class="panel">
                <div class="panel-body">
                    <div class="thumb-info mb-md">
                        <img src="@AvatarUrl" a class="rounded img-responsive" alt="">
                        <div class="thumb-info-title">
                            <span class="thumb-info-inner">@fullName</span>
                            <span class="thumb-info-type">
                                @if (roleHelper.ListUserRoles(userId).FirstOrDefault() == "Project Manager")
                                {
                                    <span>Project Manager</span>
                                }
                                else
                                {
                                    @roleHelper.ListUserRoles(userId).FirstOrDefault();
                                }
                            </span>
                        </div>
                    </div>

                    <hr class="dotted short">

                    <div class="social-icons-list">
                        <a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                        <a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                        <a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                    </div>

                </div>
            </section>
        }
    </div>

    <div class="col-md-8 col-lg-6">
        @using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { enctype = "Multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("UserViewModel.AvatarUrl", Model.AvatarUrl)
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Edit</h2>
                </header>

                <div class="panel-body">

                    <form class="form-horizontal" method="get">
                        <h4 class="mb-xlg">Personal Information</h4>
                        <fieldset>
                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.AvatarUrl, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-8">
                                    <input type="file" name="UserViewModel.Avatar" calss="filestyle" data-dragdrop="false" data-btnClass="btn-success" data-buttonBefore="true" />
                                </div>
                            </div>
                        </fieldset>

                        <hr class="dotted tall">
                        <h4 class="mb-xlg">Change Password</h4>
                        <fieldset class="mb-xl">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ChangePasswordViewModel.OldPassword, new { @class = "col-md-12 control-label" })
                                <div class="col-md-8">
                                    @Html.PasswordFor(model => model.ChangePasswordViewModel.OldPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ChangePasswordViewModel.NewPassword, new { @class = "col-md-12 control-label" })
                                <div class="col-md-8">
                                    @Html.PasswordFor(model => model.ChangePasswordViewModel.NewPassword, new { @class = "form-control" })
                                </div>
                            </div>
                        </fieldset>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-9 col-md-offset-3">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <button type="reset" class="btn btn-default">Reset</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        }
    </div>
</div>
